/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    font-family: "Ubuntu Sans", sans-serif;
}

.topleft {
    width: 50%;
    height: 80vh;
}

.topright {
    width: 70%;
    height: 80vh;
}

.section1 {
    height: 80vh;
}

.section1 h1{
    font-size: 2rem;
}

.section2 h1{
    font-size: 2.5rem;
}

.section2{
    padding-left: 63px;
    padding-right: 63px;
}

.box{
    padding: 8px 0px;
    margin: 12px 24px;
    min-width: 18vw;
    border: 2px solid rgb(132, 3, 3);
    text-align: center;
    border-radius: 8px;
}

.highlighted{
    font-size: 1.2rem;
    font-weight: bolder;
}

.box h2{
    padding: 12px 0px;
    font-size: 2rem;
}
.box ul{
    list-style-type: none;
}

.box ul li{
    margin: 12px 2px;
}
.logo {
    font-size: 1.5rem;
}

.text-center{
    text-align: center;
}

.task{
    margin: 0px 10px;
}
footer{
    padding: 23px;
    text-align: center;
}

main{
    background-image: url(Rank1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

body{
    background-color: rgb(37, 17, 17);
    color: aliceblue;
}

.trailer{
    /* margin: 0 10px;
    padding: 10 10px; */
    width: 111px;
    height: 30px;
    padding: 0 350px;
}


@media all and (max-width:700px){
    li{
        font-size: 18px;
    }
    .topleft p{
        font-size: 15px;
    }
    .new{
        left: 30%;
    }
}

@media all and (max-width: 800px){
    .boxes{
        flex-wrap: wrap;
    }
    
}
